/**
 * Filename: sign-in.styles.scss
 * Author: Jose A Felix
 * Description: Sign in styles
 */

/* ---------------------------------------------------------------- */

.sign-in {
	width: 380px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}
}
