/**
 * Filename: sign.styles.scss
 * Author: Jose A Felix
 * Description: Sign in and sign up styles
 */

/* ---------------------------------------------------------------- */

.sign{
     width: 850px;
     display: flex;;
     justify-content: space-between;
     margin: 30px auto;
}