/**
 * Filename: app.styles.scss
 * Author: Jose A Felix
 * Description: App styles
 */

/* ---------------------------------------------------------------- */

body {
	font-family: "Open Sans Condensed";
	padding: 1.1rem 4rem;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
}
