/**
 * Filename: sign-up.styles.scss
 * Author: Jose A Felix
 * Description: Sign up styles
 */

/* ---------------------------------------------------------------- */

.sign-up {
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}
}
