/**
 * Filename: directory.styles.css
 * Author: Jose A Felix
 * Description: Directory styles
 */

/* ---------------------------------------------------------------- */

.directory-menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
