/**
 * Filename: home.styles.css
 * Author: Jose A Felix
 * Description: Home styles
 */

/* ---------------------------------------------------------------- */

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 80px;
}
